header {
    background-color: #f1f1f1;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-top: 0;
}

section.featured img {
    float: left;
    margin-right: 20px;
}

section.recent img {
    margin-right: 20px;
    margin-bottom: 20px;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px;
}
